body{
    font-family: Arial, sans-serif;
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
}

.card{
    background:#222;
    padding:15px;
    margin:15px 0;
    border-radius:10px;
}

button{
    width:100%;
    padding:15px;
    margin-top:10px;
    font-size:18px;
}

video{
    width:100%;
    border-radius:10px;
}

#result{
    font-size:20px;
    font-weight:bold;
}
